body {
  min-height: 2000px;
  padding-top: 51px;
}
h1, h2 {
  text-align: center;
}
.jumptarget::before {
  content:"";
  display:block;
  height:51px; /* fixed header height*/
  margin:-51px 0 0; /* negative fixed header height */
}
.masthead {
  margin-bottom: 1rem;
  border-bottom: .25rem solid black;
}
.mastfoot {
  margin-top: 1rem;
  border-top: .25rem solid black;
}
.section-header {
  padding: 15px !important;
  border-radius:0px !important;
  margin-bottom: 0px !important;
}
.inner {
  margin-top: 15px;
  margin-bottom: 15px;
}
.header-image {
  /*width: auto;*/
  max-width: 100%;
  max-height: 100%;
}
.small-image-frame {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  padding: 15px;
  background-color:#eee; 
}
.subtitle {
  text-align: center;
}
div.details {
  width: 30em;
  margin: 0 auto 1em auto;
  /*border: 1px solid #000;*/
  padding: 1em;
}
.media-space {
  margin-bottom: 15px !important;
}
.rightAlignImage {
    float: right;
<!--margin: 0 0 10px 10px;-->
}
.leftAlignText {
    float:left;
}
.tales {
    width: 100%;
}
.carousel {
    width: 95% !important;
}
/* override position and transform in 3.3.x */
.carousel-inner .item.left.active {
    transform: translateX(-33%);
}
.carousel-inner .item.right.active {
    transform: translateX(33%);
}

.carousel-inner .item.next {
    transform: translateX(33%)
}
.carousel-inner .item.prev {
    transform: translateX(-33%)
}

.carousel-inner .item.right, .carousel-inner .item.left { 
    transform: translateX(0);
}


.carousel-control.left, .carousel-control.right {
    background-image:none;
}
